NAME_PROJECT=dangu
NAME_NODEJS_CONTAINER=dangu_angular
NAME_SGBD_CONTAINER=dangu_mongo
NAME_MOEXPRESS_CONTAINER=dangu_moexpress
NAME_MAILHOG_CONTAINER=dangu_mailhog
VALUE_NODEJS_PORT=4200
VALUE_SGBD_PORT=27020
VALUE_MOEXPRESS_PORT=8080
VALUE_MAILHOG_DISPLAY_PORT=8020
MONGO_DATABASE=dangu
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=secret
