/project/node_modules/
/project/config/connection_server.json
/project/config/connection_mongo.json
/project/config/config_email.json
/project/package-lock.json
/project/updateProject.sh
/projecttmp/
/.env
/project/projectAngular/node_modules/
/project/projectAngular/npm-debug.log
/project/projectAngular/yarn-error.log
/project/projectAngular/package-lock.json
